@model SportsStoreAngular2TypeScript.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Product @Model.Name</h4>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=> x.Id)
        @Html.Hidden("check",true)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary" })
        </div>
    }
</div>
